/*--------------------- banner part start here -----------------------*/

.banner {
    padding: 130px 42px;
}

.banner h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 71px;
    color: #fff;
    margin: 0;
}

.banner p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.banner Button {
    background: #FFFFFF;
    color: #1E2023;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
}

.banner Button:hover {
    background: #FFFFFF;
    color: #1E2023;
}


/*--------------------- banner part end here -----------------------*/



/*--------------------- airlinr partners start here -----------------------*/

.airline-partner {
    margin-top: 66px;

}

.airline-partner p {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #002441;
}

.airline-partner img {
    max-width: 100%;
}


/*--------------------- airlinr partners end here -----------------------*/