/*--------------------- banner part start here -----------------------*/

.banner {
    padding: 130px 42px;
}

.banner h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 71px;
    color: #fff;
    margin: 0;
}

.banner p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.banner Button {
    background: #FFFFFF;
    color: #1E2023;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
}

.banner Button:hover {
    background: #FFFFFF;
    color: #1E2023;
}


/*--------------------- banner part end here -----------------------*/



/*--------------------- airlinr partners start here -----------------------*/

.airline-partner {
    padding: 100px 0px;

}

.airline-partner p {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #002441;
}

.airline-partner img {
    max-width: 100%;
}


/*--------------------- airlinr partners end here -----------------------*/



/* media querry small mobile */


@media only screen and (max-width: 320px) {

    .banner {
        padding: 20px 10px;

    }

    .banner h1 {
        font-size: 20px;
        line-height: 30px;
        margin: 0;
        text-align: center;
    }

    .banner p {

        font-size: 14px;
        margin-bottom: 40px;
        text-align: center;
    }

    .sign-up {
        text-align: center;
    }

    .banner Button {
        font-size: 14px;
    }

    .airline-partner {
        padding: 50px 0px;
    }

}