/*-------  travel ecosystem style start -------*/

.travel-eco-header h1 {
    text-align: center;
    color: #1E2023;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 70px;
}



.eco-card {
    padding: 20px;
}

.eco-card-content h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 52px;
    color: #1E2023;
    margin: 0;
}

.eco-card-content p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: #1E2023;
    text-align: justify;
    margin-top: 0px;
}

/*-------  travel ecosystem style end ---------*/

/* media querry small mobile */


@media only screen and (max-width: 320px) {

    .travel-eco-header h1 {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 45px;
    }

    .eco-card-content h4 {
        font-size: 18px;
        text-align: center;
    }

    .eco-card-content p {
        font-size: 14px;
    }
}